appdirs==1.4.3
asgiref==3.2.6
distlib==0.3.0
Django==3.0.4
django-taggit==1.2.0
ez-setup==0.9
filelock==3.0.12
model-mommy==2.0.0
pillow==9.0.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
virtualenv==20.0.13
