{% extends "accounts/dashboard.html" %}

{% block menu_options %}
    <li class="pure-menu-heading">{{ course }}</li>
    <li>
        <a href="#">
            <i class="fa fa-video-camera"></i> Aulas e Materiais
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-info-circle"></i> Informações
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-envelope"></i> Anúncios
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-comments"></i> Fórum de dúvidas
        </a>
    </li>
    {{ block.super }}
{% endblock %}

{% block dashboard_content %}
    <div class="well">
        <h2></h2>
        <p></p>
        <p>
            <a href="#comments">
                <i class="fa fa-comment-o"></i> 10 comentários
            </a>
        </p>
    </div>
{% endblock %}